resource "aws_elasticache_subnet_group" "redis" {
  count      = var.enable_elasticache ? 1 : 0
  name       = "${var.project_name}-${var.environment}-redis"
  subnet_ids = var.private_subnet_ids
}

resource "aws_elasticache_cluster" "redis" {
  count                = var.enable_elasticache ? 1 : 0
  cluster_id           = substr("${var.project_name}-${var.environment}-redis", 0, 40)
  engine               = "redis"
  engine_version       = "{{ engine_version }}"
  node_type            = "{{ node_type }}"
  num_cache_nodes      = 1
  parameter_group_name = "default.redis7"
  port                 = 6379
  security_group_ids   = [aws_security_group.cache[0].id]
  subnet_group_name    = aws_elasticache_subnet_group.redis[0].name
  tags                 = var.common_tags
}
