# Terraform Agent environment template

XAI_API_KEY=
DEPLAI_TERRAFORM_DEFAULT_TIMEOUT_SECONDS=900
DEPLAI_TERRAFORM_INIT_TIMEOUT_SECONDS=600
DEPLAI_TERRAFORM_PLAN_TIMEOUT_SECONDS=1800
DEPLAI_TERRAFORM_APPLY_TIMEOUT_SECONDS=3600
DEPLAI_TERRAFORM_SHOW_TIMEOUT_SECONDS=300
DEPLAI_TERRAFORM_OUTPUT_TIMEOUT_SECONDS=300
DEPLAI_TERRAFORM_UNLOCK_TIMEOUT_SECONDS=120
